
/* *******************
*
*   INFOS BULLES
* 
********************* */

a.info{
position:relative;
z-index:24;
color:#000;
text-decoration: none;
border-bottom: 1px dotted #000000;
cursor:help;
}
 
a.info:hover{
z-index:25;
}
 
a.info span{
display: none
}
 
a.info:hover span{
display:block;
position:absolute;
top:2em; left:2em; width:15em;
border:1px solid #000;
background-color:#FFF;
color:#000;
text-align: justify;
font-weight:none;
padding:5px;
}


body{
    padding:0;
    margin:0;
    /*width:100%;*/
    background: #f1f1f1;
    font-size:12px;
    /*font-family:Verdana, Arial, Helvetica, sans-serif;*/
    
}
#tableGeneral{
    margin:0 auto;
}

#in{
    background:white url(img-ombreContent.png) repeat-y;
    width:1024px;
    font-family: "trebuchet ms",sans-serif ;    
    /*margin:0 auto;*/
}

.success{
    color:green;
    font-weight: bold;
}

.failure{
    color:red;
    font-weight: bold;
}

.clickLink{
    color: black;
    text-decoration: none; 
}

.clickLink:hover{
    color: black;
    text-decoration: underline; 
}

.clickLinkUnderlined{
    color:black;
}

.clickLinkUnderlined:hover{
    color:black;
    text-decoration: none;
}


.clr{
    clear:both;
}
.hidden{
    display:none;
}

.show{
    display:block;
}

.tdActions img{
    float:left;
    padding:0px 5px;
}

a img{
    border:none;
}
.img_clickable{
    cursor: pointer;
}

#backgroundGauche{
    height:100%;
    width:20px;
    background: url(img-ombreBackgroundDroite.png);
    margin:0;
    padding:0;
}
#backgroundDroite{
    height:100%;
    width:20px;
    background: url(img-ombreBackgroundDroite2.png);
    margin:0;
    padding:0;
}

div#title_core{
    width: 100%;
    font-size:18px;
    font-style: oblique;
    /*font-family: Verdana, Arial, Helvetica, sans-serif;    */
}

div#logout{
    width: 200px;
    font-size: 10px;
    position: absolute;
    font-family: Verdana, Arial, Helvetica, sans-serif;  
}


div#renseignements{
    width: 100%;
    font-size:16px;
    font-style: oblique;
   /*  */
    
}

#logo{
   
    background: url(img-logoENSEIRB2.png);
    width:150px;
    height:180px;
    float:left;
}

#logoright{
    background:url(img-backgroundHeader.png) left repeat-y;
    font-size: 20px;
    padding: 20px;
    padding-left:200px;
    font-weight: bold;
    font-family: "trebuchet ms",sans-serif ;
}
#menuheader{
  width:874px;
  float:left;  
}
div#title_header{
    width: 100%;
    font-size:24px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
    position: fixed;
}

div#icone-enseirb{
   /*background-image: url(img-logoENSEIRB.png);*/
   float: left;
   width: 150px;
   
}

div#roles_gauche{
    float: left;
    width: 15px;
    background-image: url(img-bordVertMenuGauche.png);
}

div#roles{
    float: left;
    width:1px;
    background-image: url(img-repeatMenuVert.png);
    background-repeat: repeat-x;
}

div#roles_droit{
    float: left;
    width: 15px;
    background-image: url(img-bordVertMenuDroit.png);
}

div#partenaires_gauche{
    float: left;
    width: 15px;
    background-image: url(img-bordOrangeMenuGauche.png);
}

div#partenaires{
    float: left;
    width:1px;
    background-image: url(img-repeatMenuOrange.png);
    background-repeat: repeat-x;
}

div#partenaires_droit{
    float: left;
    width: 15px;
    background-image: url(img-bordOrangeMenuDroit.png);
}

div#contacts_gauche{
    float: left;
    width: 15px;
    background-image: url(img-bordRougeMenuGauche.png);
}

div#contacts{
    float: left;
    width:1px;
    background-image: url(img-repeatMenuRouge.png);
    background-repeat: repeat-x;
}

div#contacts_droit{
    float: left;
    width: 15px;
    background-image: url(img-bordRougeMenuDroit.png);
}

div#aide_gauche{
    float: left;
    width: 15px;
    background-image: url(img-bordBleuMenuGauche.png);
}

div#aide{
    float: left;
    width:1px;
    background-image: url(img-repeatMenuBleu.png);
    background-repeat: repeat-x;
}

div#aide_droit{
    float: left;
    width: 15px;
    background-image: url(img-bordBleuMenuDroit.png);
}


div.header{ 
    border-radius:25px 25px 0px 0px;
    -moz-border-radius:25px 25px 0px 0px; /* Firefox 3.6 and earlier */
    font-size: 12px;
    width:100%;
    padding: 20px 0px 20px 0px;
    background: #FFFFFF;
    text-align:center;
    /*color:white;*/  
}

#menu {
    width:100%;
    height: 70px;
    margin:0;
    padding:0;
}

#menu ul{
    list-style: none;
    height:100%;
}

#menu ul li{
    display:inline;
    height:100%;
    text-align: center;
}

#menu ul li a{
    padding:0px 0px;
}

#menu ul li a:hover{
    text-shadow: black 0.1em 0.1em 0.2em;
}

table{
   /* text-align: center;*/
}

td{
  /*  padding-left: 30%;*/
}

table tr td p {
    margin:15px;
    color:black;
    text-decoration:none;
    display:block;
    font-size:13px;
    font-weight:bold;
  /*  text-align:center;*/
    /*padding: 0px 100px;*/
}

table tr td div p:hover {
    /*background-color:#9900FF;*/
}

span .ajout_critere{
    cursor: pointer;
}


/*
#menu_left ul li p
{
    display: block;
    margin: 0;
    text-decoration: none;
    background-color: #9999FF;
}

#menu .menuderoulant tr tdp:hover
{
    background-color: #9900FF;
}

#menu .menuderoulant tr td p:visited {
   background-color: #9933CC;
}

#menu tr td:hover > .menuderoulant { display: block; }

*/

#middle_in{

    height:100%;
    position: relative;
}

#middle_in h1{
    padding-left: 350px;
}
#content{
    width:70%;
    float:left;
    padding: 20px 30px;
    text-align:justify;
}

#footer{
    background:url(img-repeatFooterBackground.png) repeat-y;
    text-align:center;
}

#footer-ombre{
    background: url(img-repeatFooter2.png) repeat-y;
    width:100%;
    height:2px;
}

#footer a, a#lienDeco{
    color: #F69323;
}

#footer p{
    font-weight: bold;
    margin-bottom: 0;
}


/* 
****************************** 
****************************** 
    MENU HORIZONTAL 
******************************
******************************
*/

#account, #menu ul{
    padding:0;
    margin:0;
    top:0; left:0;
}
#menu_horiz_left{
    float:left;
    width:15px;
    height:70px;
    
}

#menu_horiz_left a{
    
    display:block;
    height:100%;
    width:100%;
}

#menu_horiz_right a{
    
    display:block;
    height:100%;
    width:100%;
}
#menu_horiz_repeat a{
    text-decoration: none;
    color: white;
    line-height:70px;
    font-size:20px;
    display:block;
    height:100%;
    width:100%;
}

#menu_horiz_repeat{
    float:left;
    height:70px;
}
#menu_horiz_right{
    float:left;
    width:15px;
    height:70px;
}

/* Partenaires -> orange */
.menu_horiz_left_presentation{
    background:url(img-bordRoseMenuGauche.png);
}

.menu_horiz_repeat_presentation{
    background:url(img-repeatMenuRose.png);
}

.menu_horiz_right_presentation{
    background:url(img-bordRoseMenuDroit.png);
}

/* Partenaires -> orange */
.menu_horiz_left_partenaires{
    background:url(img-bordOrangeMenuGauche.png);
}

.menu_horiz_repeat_partenaires{
    background:url(img-repeatMenuOrange.png);
}

.menu_horiz_right_partenaires{
    background:url(img-bordOrangeMenuDroit.png);
}

/* Contacts -> Rouge */
.menu_horiz_left_contacts{
    background:url(img-bordRougeMenuGauche.png);
}

.menu_horiz_repeat_contacts{
    background:url(img-repeatMenuRouge.png);
}

.menu_horiz_right_contacts{
    background:url(img-bordRougeMenuDroit.png);
}

/* Rôles -> Vert */
.menu_horiz_left_roles{
    background:url(img-bordVertMenuGauche.png);
}

.menu_horiz_repeat_roles{
    background:url(img-repeatMenuVert.png);
}

.menu_horiz_right_roles{
    background:url(img-bordVertMenuDroit.png);
}

/* Aide -> Bleu */
.menu_horiz_left_propos{
    background:url(img-bordBleuMenuGauche.png);
}

.menu_horiz_repeat_propos{
    background:url(img-repeatMenuBleu.png);
}

.menu_horiz_right_propos{
    background:url(img-bordBleuMenuDroit.png);
}


/* 
****************************** 
****************************** 
    MENU VERTICAL
******************************
******************************
*/


#menu_left
{
    margin: 0;
    padding: 0;
    width: 20%;
    float: left;
    height:100%;
}

#menu_left a{
    color: white;
    text-decoration: none;
    padding: 10px 5px;
}

#menu_left a:hover{
    text-shadow: 0.1em 0.1em 0.05em #333;
}

#menu_left ul
{
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    font-size:13px;
    /*text-indent: -1em;*/
}
#menu_left ul li{
    padding: 10px 0px;
    border:1px solid grey;
}
#menu_left li.submenuselected{
    text-shadow: 0.1em 0.1em 0.05em #333;
}
#menu_left li.submenu_partenaires.submenuselected {
    background-color:#cc6600;
}

#menu_left .submenu_partenaires {
    background-color: #f69323;
}

/* Contacts */
#menu_left li.submenu_contacts.submenuselected {
    background-color:#eb2227;
}

#menu_left .submenu_contacts{
    background-color: #ff6666;
}

/* Les rôles */
#menu_left li.submenu_roles.submenuselected {
    background-color:#669933;
}

#menu_left .submenu_roles{
    background-color: #99cc33;
}


#presentation, #propos{
    padding-left:150px;
}
/************************
*
* PARTENAIRES
*
**************************/


div #partenaire-aide p{
  font-weight: normal;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
}
  

.research{
    padding:10px 0px; 
}

.research input, .research select{
    margin-left: 20px;
}

#critere-glob div {
    padding: 15px 0px;
}

#addCriterePartenaire{
    padding:20px;
}


#partenaire-aideLink{
    color: black;
}

#partenaire-aideLink:hover{
    color:black;
    text-decoration: none;
    
}

#resultSearchPartenaireTable tr:nth-child(odd), #toValidPartenaireTable:nth-child(old){
    background-color:#eeeeee;
}

#resultSearchPartenaireTable tr td, #resultSearchPartenaireTable tr th, #toValidPartenaireTable tr td, #toValidPartenaireTable tr th{
    padding:10px 10px;
}

#resultSearchPartenaireTable tr th, #toValidPartenaireTable tr th{
    background-color:#F69323;
}


#addSecteur{
    padding-top: 15px;
}

/**********************
*
* CONTACTS
*
***********************/



#contacts-aideLink{
    color:black;
}

div #contact-aide p{
  font-weight: normal;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
}
  
#contacts-aideLink:hover{
    color:black;
    text-decoration: none;
}

#contact-type{
    text-align: left;
    font-weight: bold;
}

#resultSearchContactTable tr:nth-child(odd), #toValidContactTable tr:nth-child(odd){
    background-color:#eeeeee;
}

#resultSearchContactTable tr td, #resultSearchContactTable tr th, #toValidContactTable tr td, #toValidContactTable tr th{
    padding:10px 10px;
}

#resultSearchContactTable tr th, #toValidContactTable tr th{
    background-color:#ff6666;
}


/**********************
*
* ROLES
*
***********************/


div #role-aide li {
 list-style-image: url(img-bullet-green.png); /* Attention IE 7 */
}

div #role-aide p {
  font-weight: normal;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
}

#resultSearchRoleTable tr td, #resultSearchRoleTable tr th{
    padding:10px 20px;
}
    
#resultSearchRoleTable tr th{
    background-color:#F69323;
}

#resultSearchRole{
   left :-200px;
}

#login_role_modify{
    /*border:0px;*/
    color:grey;
}





#resultSearch{
    padding: 10px 20px;
    text-align: center;
}
#resultSearch table{
    margin: 0 auto;
    text-align:justify;
}

#exportTable{
    float:right;
    padding: 10px 20px;
}

#exportTable a{
    cursor: pointer;
    text-decoration: underline;
}

/******************
****** AIDE *******
******************/

div #propos p {
  font-weight: normal;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
}

div #propos p b a {
    color : #F69323;
    text-decoration: none;
}

div #propos p b a:hover{
    color : #F69323;
    text-decoration: underline;
}