

body{
    padding:0;
    margin:0;
    /*width:100%;*/
    background: #f1f1f1;
    font-size:12px;
    /*font-family:Verdana, Arial, Helvetica, sans-serif;*/
    
}
#tableGeneral{
    margin:0 auto;
}

#in{
    background:white url(img-ombreContent.png) repeat-y;
    width:1024px;
    font-family: "trebuchet ms",sans-serif ;    
    /*margin:0 auto;*/
}

.success{
    color:green;
    font-weight: bold;
}

.failure{
    color:red;
    font-weight: bold;
}

.clickLink{
    color: black;
    text-decoration: none; 
}

.clickLink:hover{
    color: black;
    text-decoration: underline; 
}

.clickLinkUnderlined{
    color:black;
}

.clickLinkUnderlined:hover{
    color:black;
    text-decoration: none;
}

.clr{
    clear:both;
}
.hidden{
    display:none;
}

.show{
    display:block;
}

.tdActions img{
    float:left;
    padding:0px 5px;
}

#backgroundGauche{
    height:100%;
    width:20px;
    background: url(img-ombreBackgroundDroite.png);
    margin:0;
    padding:0;
}
#backgroundDroite{
    height:100%;
    width:20px;
    background: url(img-ombreBackgroundDroite2.png);
    margin:0;
    padding:0;
}

div#title_core{
    width: 100%;
    font-size:18px;
    font-style: oblique;
    /*font-family: Verdana, Arial, Helvetica, sans-serif;    */
}


div#renseignements{
    width: 100%;
    font-size:16px;
    font-style: oblique;
}

#logoDauphine{
    //background: url(img-logoDAUPHINE.png);
    width:150px;
    height:180px;
    float:left;
}

#logoright{
    background:url(img-backgroundHeader.png) left repeat-y;
    font-size: 20px;
    padding: 20px;
    padding-left:200px;
    font-weight: bold;
    font-family: "trebuchet ms",sans-serif ;
}
#menuheader{
  width:874px;
  float:left;  
}
div#title_header{
    width: 100%;
    font-size:24px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
    position: fixed;
}
/*
div#icone-enseirb{
   //background-image: url(img-logoENSEIRB.png);
   float: left;
   width: 150px;
}
*/

/*
div#modifier_gauche{
    float: left;
    width: 15px;
    background-image: url(img-bordVertMenuGauche.png);
}

div#modifier{
    float: left;
    width:1px;
    background-image: url(img-repeatMenuVert.png);
    background-repeat: repeat-x;
}

div#modifier_droit{
    float: left;
    width: 15px;
    background-image: url(img-bordVertMenuDroit.png);
}
*/

div#recherche_gauche{
    float: left;
    width: 15px;
    background-image: url(img-bordOrangeMenuGauche.png);
}

div#recherche{
    float: left;
    width:1px;
    background-image: url(img-repeatMenuOrange.png);
    background-repeat: repeat-x;
}

div#recherche_droit{
    float: left;
    width: 15px;
    background-image: url(img-bordOrangeMenuDroit.png);
}

div#inserer_gauche{
    float: left;
    width: 15px;
    background-image: url(img-bordRougeMenuGauche.png);
}

div#inserer{
    float: left;
    width:1px;
    background-image: url(img-repeatMenuRouge.png);
    background-repeat: repeat-x;
}

div#inserer_droit{
    float: left;
    width: 15px;
    background-image: url(img-bordRougeMenuDroit.png);
}

div#aide_gauche{
    float: left;
    width: 15px;
    background-image: url(img-bordBleuMenuGauche.png);
}

div#aide{
    float: left;
    width:1px;
    background-image: url(img-repeatMenuBleu.png);
    background-repeat: repeat-x;
}

div#aide_droit{
    float: left;
    width: 15px;
    background-image: url(img-bordBleuMenuDroit.png);
}


div.header{ 
    border-radius:25px 25px 0px 0px;
    -moz-border-radius:25px 25px 0px 0px; /* Firefox 3.6 and earlier */
    font-size: 12px;
    width:100%;
    padding: 20px 0px 20px 0px;
    background: #000000; //#FFFFFF;
    text-align:center;
    /*color:white;*/  
}

#menu {
    width:100%;
    height: 70px;
    margin:0;
    padding:0;
}

#menu ul{
    list-style: none;
    height:100%;
}

#menu ul li{
    display:inline;
    height:100%;
    text-align: center;
}

#menu ul li a{
    padding:0px 0px;
}

#menu ul li a:hover{
    text-shadow: black 0.1em 0.1em 0.2em;
}

table{
   /* text-align: center;*/
}

td{
  /*  padding-left: 30%;*/
}

table tr td p {
    margin:15px;
    color:black;
    text-decoration:none;
    display:block;
    font-size:13px;
    font-weight:bold;
  /*  text-align:center;*/
    /*padding: 0px 100px;*/
}

table tr td div p:hover {
    /*background-color:#9900FF;*/
}

span .ajout_critere{
    cursor: pointer;
}

#middle_in{

    height:100%;
    position: relative;
}

#middle_in h1{
    padding-left: 350px;
}
#content{
    width:70%;
    float:left;
    padding: 20px 30px;
    text-align:justify;
}

#footer{
    background:url(img-repeatFooterBackground.png) repeat-y;
    text-align:center;
}

#footer-ombre{
    background: url(img-repeatFooter2.png) repeat-y;
    width:100%;
    height:2px;
}

#footer a, a#lienDeco{
    color: #F69323;
}

#footer p{
    font-weight: bold;
    margin-bottom: 0;
}


/* 
****************************** 
****************************** 
    MENU HORIZONTAL 
******************************
******************************
*/

#account, #menu ul{
    padding:0;
    margin:0;
    top:0; left:0;
}
#menu_horiz_left{
    float:left;
    width:15px;
    height:70px;
    
}

#menu_horiz_left a{
    
    display:block;
    height:100%;
    width:100%;
}

#menu_horiz_right a{
    
    display:block;
    height:100%;
    width:100%;
}
#menu_horiz_repeat a{
    text-decoration: none;
    color: black;//white;
    line-height:70px;
    font-size:20px;
    display:block;
    height:100%;
    width:100%;
}

#menu_horiz_repeat{
    float:left;
    height:70px;
}
#menu_horiz_right{
    float:left;
    width:15px;
    height:70px;
}

/* Presentation -> rose */
.menu_horiz_left_presentation{
    background:url(img-bordRoseMenuGauche.png);
}

.menu_horiz_repeat_presentation{
    background:url(img-repeatMenuRose.png);
}

.menu_horiz_right_presentation{
    background:url(img-bordRoseMenuDroit.png);
}

/* Recherche -> orange */
.menu_horiz_left_rechercher{
    background:url(img-bordOrangeMenuGauche.png);
}

.menu_horiz_repeat_rechercher{
    background:url(img-repeatMenuOrange.png);
}

.menu_horiz_right_rechercher{
    background:url(img-bordOrangeMenuDroit.png);
}

/* Insertion -> Rouge */
.menu_horiz_left_inserer{
    background:url(img-bordRougeMenuGauche.png);
}

.menu_horiz_repeat_inserer{
    background:url(img-repeatMenuRouge.png);
}

.menu_horiz_right_inserer{
    background:url(img-bordRougeMenuDroit.png);
}

/* Modification -> Vert */
/*
.menu_horiz_left_modifier{
    background:url(img-bordVertMenuGauche.png);
}

.menu_horiz_repeat_modifier{
    background:url(img-repeatMenuVert.png);
}

.menu_horiz_right_modifier{
    background:url(img-bordVertMenuDroit.png);
}
*/

/* Suppression -> gris */
/*
.menu_horiz_left_supprimer{
    background:url(img-bordGrisMenuGauche.png);
}

.menu_horiz_repeat_supprimer{
    background:url(img-repeatMenuGris.png);
}

.menu_horiz_right_supprimer{
    background:url(img-bordGrisMenuDroit.png);
}
*/

/* Aide -> Bleu */
.menu_horiz_left_propos{
    background:url(img-bordBleuMenuGauche.png);
}

.menu_horiz_repeat_propos{
    background:url(img-repeatMenuBleu.png);
}

.menu_horiz_right_propos{
    background:url(img-bordBleuMenuDroit.png);
}


/* 
****************************** 
****************************** 
    MENU VERTICAL
******************************
******************************
*/


#menu_left
{
    margin: 0;
    padding: 0;
    width: 20%;
    float: left;
    height:100%;
}

#menu_left a{
    color: black;//white;
    text-decoration: none;
    padding: 10px 5px;
}

#menu_left a:hover{
    text-shadow: 0.1em 0.1em 0.05em #333;
}

#menu_left ul
{
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    font-size:13px;
    /*text-indent: -1em;*/
}
#menu_left ul li{
    padding: 10px 0px;
    border:1px solid grey;
}
#menu_left li.submenuselected{
    text-shadow: 0.1em 0.1em 0.05em #333;
}
#menu_left li.submenu_rechercher.submenuselected {
    background-color:#cc6600;
}

#menu_left .submenu_rechercher {
    background-color: #f69323;
}

/* Contacts */
#menu_left li.submenu_inserer.submenuselected {
    background-color:#eb2227;
}

#menu_left .submenu_inserer{
    background-color: #ff6666;
}

/* Les rôles */
#menu_left li.submenu_modifier.submenuselected {
    background-color:#669933;
}

#menu_left .submenu_modifier{
    background-color: #99cc33;
}


#presentation, #propos{
    padding-left:150px;
}

#addCritereTitre{
    padding:20px;
}

div #contact-aide p{
  font-weight: normal;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
}
  
#inserer-aideLink:hover{
    color:black;
    text-decoration: none;
}

#contact-type{
    text-align: left;
    font-weight: bold;
}

#resultSearchContactTable tr:nth-child(odd), #toValidContactTable tr:nth-child(odd){
    background-color:#eeeeee;
}

#resultSearchContactTable tr td, #resultSearchContactTable tr th, #toValidContactTable tr td, #toValidContactTable tr th{
    padding:10px 10px;
}

#resultSearchContactTable tr th, #toValidContactTable tr th{
    background-color:#ff6666;
}




#resultSearch{
    padding: 10px 20px;
    text-align: center;
}
#resultSearch table{
    margin: 0 auto;
    text-align:justify;
}


/******************
****** AIDE *******
******************/

div #propos p {
  font-weight: normal;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
}

div #propos p b a {
    color : #F69323;
    text-decoration: none;
}

div #propos p b a:hover{
    color : #F69323;
    text-decoration: underline;
}

#rcorners2 {
    border-radius: 25px;
    border: 2px solid #8AC007;
    padding: 20px; 
    width: 300px;
    height: 150px;    
}